{% extends "base.html" %}

{% block main_content %}

    <section class="editPage">
        <form action="{% url "edit_album" pk=album.pk %}" method="post">
            <fieldset>
                <legend>Edit Album</legend>
                <div class="container">
                    {{ form.as_p }}

                    <button class="edit-album" type="submit">Edit Album</button>
                    {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}
