body {
    background-color: #FAEBC8;
}

div {
    margin: 15rem;

img {
    width: 170px;
    display: inline-block;
}

article:nth-child(1){
    width: 12rem;
    padding-left: 10rem;

}

article:nth-child(2){
    width: 11rem;
    padding-left: 37rem;
    padding-top: 3rem;
}

article:nth-child(3){
    width: 11rem;
    padding-left: 67rem;
}