body {
    font-family: 'Lato', sans-serif;
}

#left_section {
    display: inline-block;
    margin-left: 39rem;
}

.image-container {
    position: relative;
    width: 25%;
    height: 70%;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 0px 30px
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(60, 57, 218, 0.5), rgba(100, 40, 40, 0.5));
    border-radius: 30px 0px 0px 30px
}


.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 3;
}

#left_h1 {
    margin-top: 0rem;
    font-size: 40px;
}

p {
    margin-top: 37rem;
}

#right_section {
    display: inline-block;
    float: right;
    width: 475.75px;
    height: 717px;
    margin-right: 958px;
    margin-top: -723px;
    border-radius: 0px 30px 30px 0px;
    border: 3px solid #111111;
}

.txt_field{
    position: relative;
    margin: 30px 0px -115px 87px;
    max-width: 310px;
    border-bottom: 2px solid;
    margin-top: 160px;
}

input {
    text-align: left;
    font-size: 23px;
}

label {
    margin-bottom: 5px;
    color: rgb(218, 217, 220);
}


#sign_in  {
    margin-left: 202px;
    margin-top: -33px;
    font-size: 20px;
}

#get_started {
    float: right;
    padding: 12px;
    margin-top: 190px;
    margin-right: 280px;
    background: #38082A;
    font-size: 17px;
    color: white;
    border: #38082A;
    cursor: pointer;
  }

